*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(19, 15, 15, 0.948);
}
header{
    width: 100vw;
    height: 100vh;
    padding: auto;
    margin: auto;
}
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.631) 10%,rgba(56, 0, 0, 0.749)), url(/LookUp.jpg);

    mask-image: linear-gradient(rgba(55, 56, 69, 0.871) 80%, transparent 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: fill;
    /* mix-blend-mode:multiply; */

}

.navbar{
    width: 100%;
    height: 5rem;
    /* background-color: rgb(21, 5, 143); */
    border-left: 1px solid rgba(131, 130, 130, 0.404);
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.397);
    padding: 1rem 0;
    display: flex;
    position: absolute;
    top: 0;
}



.menu-holder{
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
    /* padding: 1.5rem 1rem; */
    border-left: 1px solid rgba(131, 130, 130, 0.404);
    

    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo{
        height: auto;
        width: 35%;
        padding: 0 0 0 1.5rem;
        /* background-color: aquamarine; */

        h3{
            font-family: "Bungee", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            color: aliceblue;

            span{
                color: rgba(244, 45, 45, 0.717);
                font-size: 2.4rem;
            }
        }
    }

    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        /* background-color: aqua; */
        /* margin: 0 2rem; */
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        

    
        form{
            height: 100%;
            width: 50%;
            /* border: 1px solid; */

            display: flex;
            justify-content: center;
            align-items: center;

            #search{
                width: 100%;
                height: 2rem;
                background-color: transparent;
                border-radius: 50px;
                padding: 0 1rem;
                outline: none;
                border: 2px solid rgba(180, 167, 167, 0.725);

                font-size: 15px;
                color: rgb(221, 201, 201);
                font-family: "Red Hat Text", sans-serif;
                font-optical-sizing: auto;
                font-weight: 590;
            }

        }


        
        ul{
            /* border: 1px solid; */
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
            text-decoration: none;
            list-style: none;

            li{
               font-family: "Red Hat Text", sans-serif;
                font-optical-sizing: auto;
                font-weight: 590;
                font-style: normal;
                font-size: 0.9rem;
                text-transform: uppercase; 
            }

            a{
                text-decoration: none;
                font-weight: 600;
                color: rgb(221, 201, 201);
                cursor: pointer;
            }
            a:hover{
                transition: .2s ease;
                color: rgba(244, 45, 45, 0.717);
            }
        }
    }
}

.menu-holder:nth-child(2){
    width: 30%;
    height: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .login{
        width: 80%;
        height: 100%;
    }
    button{
        height: 100%;
        width: 100%;
        background: rgba(244, 45, 45, 0.717);
        border: none;
        border-radius: 10px;
        cursor: pointer;

        a{
                /* color: white; */
                font-family: "Red Hat Text", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                font-size: 0.9rem;
                text-transform: uppercase;
                text-decoration: none;
                color: rgb(221, 201, 201);
        }
    }
    button:hover{
        transition: .5s ease-in-out;
         background: rgba(122, 4, 4, 0.717);
    }

}

.caption{
    width: auto;
    height: 48.4rem;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: rgba(0, 136, 255, 0.289); */
    
    .header-caption{
        width: 45%;
        height: auto;
        
        margin: 1rem 4rem 0 0;
        padding: 0 0 2rem;
        /* background-color: aliceblue; */

        h1{
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 6.5rem;
            line-height: 6.5rem;
            color: rgba(244, 45, 45, 0.717);
            /* background-color: blue; */
        }
        
        .header-dis{
            padding: 0.5rem 0;
            margin: 1.4rem 0;

            /* background-color: brown; */

            p{
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 200;
                font-style: normal;
                line-height: 1.6rem;
                color: rgb(221, 201, 201);
            }

        }
        .header-search{
            /* background-color: aqua; */
            height: 3.9rem;

            form, label{
                /* background-color: aqua; */
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            input{
                height: 2.4rem;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }
            #textfield{
                width: 80%;
                outline: none;
                border: none;
                border-radius: 10px 0 0 10px;
                padding: 0 1rem;
                


            }
            #btn{
                width: 20%;
                background-color: rgba(244, 45, 45, 0.717);
                border: none;
                border-radius: 0 10px 10px 0;

                color: rgb(221, 201, 201);
                font-size: 17px;
            }
            #btn:hover{
                transition: .5s ease-in-out;
                background: rgba(122, 4, 4, 0.717);
            }
        }

    }
}


/*********** MAIN SECTION *********** */


.container{
    height: 40rem;
    width: 100%;
    position: relative;
    /* background: linear-gradient(rgba(136, 6, 6, 0.747),rgb(138, 8, 8)); */

    /* mask-image: 
    linear-gradient(transparent 20%,rgba(147, 1, 1, 0.707) 100%); */

       .video-player{
        height: auto;
        width: 100%;
        padding: 1rem 0;

        /* background-color: aqua; */

        .popular{
            width: 100%;
            height: auto;
            /* background-color: aliceblue; */
            padding: 1rem;
            
            h3{
                color: rgba(244, 45, 45, 0.717);
                text-align: center;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 5.4rem;
                line-height: 6rem;
            }
        }
        
        .popular-container{
            /* background-color: aliceblue; */
            width: auto;
            padding: 1rem;
            display: grid;
            gap: 1rem;

            grid-template-columns: repeat(3, 1fr);

            /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
            /* grid-row: 1/3; */


            iframe{
                height: 25rem;
                width: 25rem;
            }

        }
    }
   
    .tr-title{
        /* top: 0;
        position: absolute; */
        width: 100%;
        height: auto;
        padding: 1rem;
        /* z-index: 20; */

        /* background-color: aliceblue; */
        
        h1{
            color: rgba(244, 45, 45, 0.717);
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 5.4rem;
            line-height: 6rem;
        }
    }

    .tr-container{
        width: 100%;
        height: auto;
        padding: 2rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(13, 14, 14); */

        .card{
            position: relative;
            width: 15rem;
            height: 25rem;
            margin: 0 1rem 0;
            border-radius: 30px;

            transition: 0.5s ease;

            /* box-shadow: 0 0 20px rgba(244, 45, 45, 0.083); */

        }
        .card:hover{
            /* border-radius: 60px; */
            box-shadow: 0 0 40px rgba(255, 0, 0, 0.125);
            transform: scale(1.1);
            
        }
        .card:nth-child(1){
            background: url(/images/redlips.jpg);
            /* object-fit: cover; */
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card:nth-child(2){
            background: url(/images/sitted.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card:nth-child(3){
            background: url(/images/shiner.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card:nth-child(4){
            background: url(/images/heist.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }


}




















