*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100vh;
    padding: auto;
    margin: auto;

}
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.623) 40%,rgba(105, 2, 2, 0.455)), url(/LookUp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode:difference;
    object-fit: fill;

}

.navbar{
    width: 100%;
    height: 5rem;
    /* background-color: rgb(21, 5, 143); */
    border-left: 1px solid rgba(131, 130, 130, 0.404);
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.397);
    padding: 1rem 0;
    display: flex;
}

.menu-holder{
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
    /* padding: 1.5rem 1rem; */
    border-left: 1px solid rgba(131, 130, 130, 0.404);
    

    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo{
        height: auto;
        width: 35%;
        padding: 0 0 0 1.5rem;
        /* background-color: aquamarine; */

        h3{
            font-family: "Bungee", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            color: aliceblue;

            span{
                color: rgba(244, 45, 45, 0.717);
                font-size: 2.4rem;
            }
        }
    }

    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        /* background-color: aqua; */
        /* margin: 0 2rem; */
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        

    
        form{
            height: 100%;
            width: 50%;
            /* border: 1px solid; */

            display: flex;
            justify-content: center;
            align-items: center;

            #search{
                width: 100%;
                height: 2rem;
                background-color: transparent;
                border-radius: 50px;
                padding: 0 1rem;
                outline: none;
                border: 2px solid rgba(180, 167, 167, 0.725);

                font-size: 15px;
                color: rgb(221, 201, 201);
                font-family: "Red Hat Text", sans-serif;
                font-optical-sizing: auto;
                font-weight: 590;
            }

        }


        
        ul{
            /* border: 1px solid; */
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
            text-decoration: none;
            list-style: none;

            li{
               font-family: "Red Hat Text", sans-serif;
                font-optical-sizing: auto;
                font-weight: 590;
                font-style: normal;
                font-size: 0.9rem;
                text-transform: uppercase; 
            }

            a{
                text-decoration: none;
                font-weight: 600;
                color: rgb(221, 201, 201);
                cursor: pointer;
            }
            a:hover{
                transition: .2s ease;
                color: rgba(244, 45, 45, 0.717);
            }
        }
    }
}

.menu-holder:nth-child(2){
    width: 30%;
    height: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .login{
        width: 80%;
        height: 100%;
    }
    button{
        height: 100%;
        width: 100%;
        background: rgba(244, 45, 45, 0.717);
        border: none;
        border-radius: 10px;
        cursor: pointer;

        a{
                /* color: white; */
                font-family: "Red Hat Text", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                font-size: 0.9rem;
                text-transform: uppercase;
                text-decoration: none;
                color: rgb(221, 201, 201);
        }
    }
    button:hover{
        transition: .5s ease-in-out;
         background: rgba(122, 4, 4, 0.717);
    }

}

.caption{
    width: auto;
    height: 48.4rem;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: rgba(0, 136, 255, 0.289); */
    
    .header-caption{
        width: 45%;
        height: auto;
        
        margin: 0 3rem 0 0;
        padding: 0 0 2rem;
        /* background-color: aliceblue; */

        h1{
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 6rem;
            line-height: 6rem;
            color: rgba(244, 45, 45, 0.717);
            /* background-color: blue; */
        }
        
        .header-dis{
            padding: 0.5rem 0;
            margin: 1.4rem 0;

            /* background-color: brown; */

            p{
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 200;
                font-style: normal;
                line-height: 1.6rem;
                color: rgb(221, 201, 201);
            }

        }
        .header-search{
            /* background-color: aqua; */
            height: 3.9rem;

            form, label{
                /* background-color: aqua; */
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            input{
                height: 2.4rem;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }
            #textfield{
                width: 80%;
                outline: none;
                border: none;
                border-radius: 10px 0 0 10px;
                padding: 0 1rem;
                


            }
            #btn{
                width: 20%;
                background-color: rgba(244, 45, 45, 0.717);
                border: none;
                border-radius: 0 10px 10px 0;

                color: rgb(221, 201, 201);
                font-size: 17px;
            }
            #btn:hover{
                transition: .5s ease-in-out;
                background: rgba(122, 4, 4, 0.717);
            }
        }

    }
}




























